#fundraiser-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.fundraiser-card {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
}

.fundraiser-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pledge-card {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px gray;
}

.pledge-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}